/*---------- INFO ------------*/

.section-info {
  width: 90%;
  margin: auto;
  color: #014164;
}
.back {
  margin-top: 25px;
  font-size: clamp(2rem, 4vw, 2.7rem);
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
}
.back a {
  text-decoration: none;
  color: #014164;
}
.section-info-text {
  width: 95%;
  margin: auto;
}
.section-info-text h1 {
  font-family: none;
  margin-top: 25px;
  font-size: clamp(3.2rem, 5vw, 4rem);
}
.section-info-text h2 {
  font-family: none;
  width: 90%;
  margin: auto;
  margin-top: 5px;
  font-size: clamp(2.2rem, 5vw, 3rem);
}
.section-info-text p {
  margin-top: 15px;
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  color: #212529;
  line-height: clamp(24px, 3vw, 27px);
  font-weight: 350;
  text-indent: clamp(20px, 3vw, 30px);
}
.section-info-text p.strong-p {
  font-weight: 600;
  text-indent: 0;
}
.strong-p a {
  margin-left: 5px;
  color: #014164;
  font-weight: 400;
}
.main-img {
  text-align: center;
  margin-top: clamp(20px, 3vw, 30px);
}
.main-img img {
  height: clamp(177px, 25vw, 300px);
  max-width: 100%;
}
.section-info-text h3 {
  font-family: none;
  margin-top: clamp(7px, 2vw, 10px);
  font-size: clamp(2rem, 3.5vw, 2.5rem);
}
.section-info-text h3.example {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  color: #212529;
}
/*---------- DEMO ------------*/
.section-demo {
  background-color: #014164;
  color: white;
  margin-top: 40px;
  padding: 40px 0 100px;
}
.demo {
  width: 90%;
  margin: auto;
}
/*---------- Button-Style-Apply-all ------------*/
.input-text {
  font-size: clamp(2rem, 4vw, 2.5rem);
  margin: 10px 0;
}
.id-wrap {
  display: flex;
  flex-direction: column;
  margin: 15px 30px;
}
.input-text-all {
  flex-grow: 1;
  padding: 10px 7px;
  font-size: 2rem;
  border-radius: 7px;
}
.input-text-all ::placeholder {
  font-size: clamp(1.7rem, 2vw, 2rem);
}
.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}
.button-row {
  display: flex;
  justify-content: center; /* or space-between */
  gap: 50px; /* spacing between buttons */
  flex-wrap: wrap; /* safe on small screens */
}
.blue-btn,
.red-btn,
.green-btn {
  border: none;
  background-color: rgb(20, 139, 131);
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: clamp(1.5rem, 2vw, 2rem);
  cursor: pointer;
  font-weight: 600;
}
.blue-btn:hover {
  background-color: transparent;
  outline: 1px solid rgb(20, 139, 131);
}
.red-btn {
  background-color: transparent;
  outline: 1px solid rgb(20, 139, 131);
}
.red-btn:hover {
  border: none;
  background-color: rgb(20, 139, 131);
}
.result {
  margin-top: 20px;
  font-size: clamp(2rem, 2vw, 2.5rem);
}
.result-all {
  margin-top: 10px;
  font-size: clamp(2.2rem, 2vw, 2.7rem);
  background-color: #0079869e;
  padding: 5px 7px;
  border-radius: 2px;
}
/*---------- I.II. General Shift Cipher ------------*/
.green-btn {
  background-color: rgba(4, 148, 114, 0.257);
  border: 1px solid #007481;
}
.green-btn:hover {
  background-color: rgb(96, 199, 36);
}
.input-key-all {
  display: block;
  margin: 0 auto;
  width: clamp(80px, 10vw, 200px);
  padding: 15px 10px;
  font-size: 2rem;
  border-radius: 7px;
}
.input-key-all::placeholder {
  font-size: clamp(1.5rem, 2vw, 2rem);
}
.input-num {
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin: 15px 0 10px;
}
/*---------- I.III. Affine Cipher ------------*/
.mid-key {
  text-align: center;
  margin: 10px 0;
}
/*---------- I.IV. Transposition Cipher ------------*/
.iframe-container {
  margin-top: 30px;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*---------- II.I.I RSA Keygen Demo ------------*/
.generate-btn {
  border: none;
  background-color: rgb(61, 149, 194);
  color: white;
  padding: 15px 25px;
  cursor: pointer;
  font-size: clamp(1.8rem, 2vw, 2.2rem);
  font-weight: 600;
  border-radius: 5px;
}
